@model List<HomeBudgetManagement.ExpenseViewModel>

@{
    ViewBag.Title = "GetExpensesUsingApiAsync";
}

<h2>GetExpensesUsingApiAsync</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
