@model IEnumerable<HomeBudgetManagement.Models.Income>

@{
    ViewData["Title"] = "Income Summary Report";
}
<style>
    ul > li {
        display: inline-block;
    }
</style>

<h1>Income Summary Report</h1>

<p>Filter By Month:</p>
<ul>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 1 })">Jan</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 2 })">Feb</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 3 })">March</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 4 })">Apr</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 5 })">May</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 6 })">Jun</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 7 })">July</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 8 })">Aug</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 9 })">Sept</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 10 })">Oct</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 11 })">Nov</a></li>
    <li><a href="@Url.Action("IncomeFilterByMonthReport","Summary", new { month = 12 })">Dec</a></li>
</ul>

@using (Html.BeginForm("IncomeFilterByDateRange", "Summary", FormMethod.Get)) {
    <p>Filter by date range:</p>
    <label>From:</label>
    <input type="date" name="dateFrom" />
    <label>To:</label>
    <input type="date" name="dateTo" />
    <input type="submit" value="Search" />
}


<p>Total: @ViewBag?.Total</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileExtension)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.File)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileExtension)
                </td>
            </tr>
        }
    </tbody>
</table>
