@model List<HomeBudgetManagement.Models.Income>;

@{
    ViewData["Title"] = "Incomes";
}

<h2>Incomes</h2>

@if (Model != null)
{
    <table style="width:100%">
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Description</td>
                <td>@item.Amount</td>
                <td>@item.Date</td>
                <td><a href="@Url.Action("Edit", "Income", new { id = item.Id })">Edit</a></td>
                <td><a href="@Url.Action("Delete", "Income", new { id = item.Id })">Delete</a></td>

            </tr>
        }
    </table>
    <p><a href="@Url.Action("Add","Income")">Create Income</a></p>
}
else
{
    <p>No Item found.</p>
}



